table {
    width: 100%;
    border: 0px solid black;
}
td {
    padding: 10px;
    text-align: center;
}
thead {
    background-color: lightgreen;
}
tfoot {
    background-color: lightblue;
}

th{
    padding: 10px;
    text-align: left;
}
th:hover {
    padding: 10px;
    background-color: red;
    text-align: left;
   }
.form-container {
    max-width: 600px;
    margin: auto;
}

body {
    margin: 0px;
}